In [1]:
1 + 1

2

In [4]:
print("Hello, World!")

Hello, World!

In [3]:
mylist = [1, 2, 3, 5, 4]

In [4]:
mylist

[1, 2, 3, 5, 4]

In [5]:
sorted(mylist)

[1, 2, 3, 4, 5]

In [6]:
mylist

[1, 2, 3, 5, 4]

In [7]:
mylist[:3]

[1, 2, 3]

In [8]:
mylist[3:]

[5, 4]

In [9]:
mylist[:3] + mylist[3:]

[1, 2, 3, 5, 4]

In [10]:
mylist[::-1]

[4, 5, 3, 2, 1]

In [11]:
myset = set()

In [12]:
myset.add("hello")

In [13]:
myset.add("world")

In [14]:
myset.add("goodbye")

In [18]:
len(myset)

3

In [17]:
myset.add("goodbye")

In [20]:
"goodbye" not in myset

False

In [21]:
myset.add(1)

In [24]:
class Hello():
    def __init__(self, x):
        self.x = x

In [25]:
twelve = Hello(12)

In [26]:
one = Hello(1)

In [29]:
myset.add(twelve)

In [35]:
twelve.x = 13

In [36]:
twelve in myset

True

In [37]:
for item in myset:
    if type(item) == Hello:
        print(item.x)

13

In [33]:
myset.add([1, 3, 4])

TypeError: unhashable type: 'list'

In [34]:
myset.add((1, 2, 3))

In [38]:
mytuple = (1, 2, 3)

In [63]:
def return_two_things():
    print(mylist)
    return "hello", ("world", "naitian")

In [59]:
a, b, c = return_two_things()

In [60]:
a

'hello'

In [61]:
b

'world'

In [62]:
c

'naitian'

In [73]:
for i in range(10, 0, -2):
    print(i)

10
8
6
4
2

In [75]:
for i in myset:
    print(i)

1
goodbye
hello
(1, 2, 3)
<__main__.Hello object at 0x10d3dc190>
world

In [78]:
import pandas as pd

In [79]:
pandas

In [81]:
import matplotlib.pyplot as plt

In [82]:
from matplotlib import pyplot as plt